__pycache__
wandb
gscripts
gencode*
GENCODE*
data/
results/
past_trash/

*.gz
*.csv
*.tsv
*.pkl
*.yaml
*.yml
*.txt
*.pth
*.pt
*.pyc
*.clstr

*.png
*.pdf

*.bed
*.bg
*.bigWig
*.fa

*.js
*.html
*.css
*.pptx
